# Project ignore files
/.settings
/.classpath
/.project
/.tomcatplugin
/target
/creative-java/target
/.tomcatplugin
/src/main/webapp/.#webclasspath

.idea
creative-java.iml
creative.iml
released-pom.xml


###Node###

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
creative-web/web
.tmp
*.sublime-project
*.sublime-workspace